# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.dist/
build/
.venv/
venv/
.env

# Node
node_modules/
dist/

# Logs
*.log

# App runtime artifacts
backend/saved_models/
backend/predictions/
backend/uploads/test_*

# OS
.DS_Store
Thumbs.db
